:root {
  --color-neon: hsl(317 100% 54%);
  --color-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--color-bg);
  font-family: 'Balsamiq Sans', cursive;
  color: var(--color-neon);
}